In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import os
import requests
import urllib2
import jsonschema
import datetime as dt
from enum import Enum

In [86]:
with open('sample.json') as f:
    j_obj = json.load(f)

In [87]:
df = pd.DataFrame.from_records(j_obj['data'])

In [88]:
url = 'https://raw.githubusercontent.com/SuadeLabs/fire/blob/master/v1-dev/derivative.json'

In [89]:
url = 'https://raw.githubusercontent.com/SuadeLabs/fire/master/v1-dev/derivative.json'

In [90]:
json_request = requests.get(url)
schema = json_request.json()

In [91]:
class ProcessJson:
    def __init__(self, file_path, schema_url):
        """
        Instantiates the class
        
        Arguments:
        file_path -- Must be a valid 
        """
        
        with open(file_path) as f:
            self.data = json.load(f)

        schema_request = requests.get(schema_url)
        self.schema = schema_request.json()
            
    def validator(self):
        """ Validates each line of the JSON 'data' array """
        for item in self.data['data']:
            try:
                jsonschema.validate(item, self.schema)
            except Exception as e:
                raise e
                
    def to_df(self):
        self.validator()
        df = pd.DataFrame.from_records(self.data['data'])
        self.data = 2
        return df

In [92]:
netting_set = ProcessJson('sample.json', url).to_df()

In [93]:
np.sum(netting_set['mtm_dirty'].values)

-100

In [94]:
start = pd.to_datetime(netting_set['start_date'].values)
end = pd.to_datetime(netting_set['end_date'].values)
current = pd.to_datetime(netting_set['date'].values)

In [95]:
(end - start).days / 365.25

Float64Index([2.01779603012, 2.01779603012], dtype='float64')

In [96]:
start = pd.to_datetime(netting_set['start_date'].values)
end = pd.to_datetime(netting_set['end_date'].values)
current = pd.to_datetime(netting_set['date'].values)

E = (end - start).days / 365.25
S = (start - current).days / 365.25

sup_duration = (np.exp(-0.05 * S) - np.exp(-0.05 * E)) / 0.05

adj_notional = netting_set['notional_amount'] * sup_duration
netting_set['adj_notional'] = adj_notional

In [66]:
def supervisory_delta(x):
#     if netting_set['type'] == 'vanilla_swap':
#         if netting_set['receive_type'] == 'floating':
#             return 1
#         if netting_set['receive_type'] == 'fixed':
#             return -1
    if x == 'fixed':
        return -1
    if x == 'floating':
        return 1

In [84]:
for g in netting_set.groupby('currency_code'):
    df = g[1]
    for time_bucket in df.groupby(pd.cut(df["maturity"], np.array([0, 1, 5, np.inf]))):
        print time_bucket[1].sup_delta * time_bucket[1].adj_notional

Series([], dtype: float64)
1    20354.471888
dtype: float64
Series([], dtype: float64)
Series([], dtype: float64)
Series([], dtype: float64)
0    19385.211322
dtype: float64

In [45]:
netting_set.loc[0, 'maturity'] = 10
netting_set.loc[1, 'maturity'] = 2

In [61]:
tmp = np.array()
for g in netting_set.groupby(pd.cut(netting_set["maturity"], np.array([0, 1, 5, np.inf]))):
    print g[0], g[1].maturity.sum()
    tmp += g[1].maturity.values

(0.0, 1.0] 0
(1.0, 5.0] 2.0
(5.0, inf] 10.0

In [64]:
g[1].maturity.values

array([ 10.])

In [71]:
netting_set['sup_delta'] = netting_set['receive_type'].apply(lambda x: supervisory_delta(x))

In [73]:
netting_set['notional_amount']

,asset_class,currency_code,date,end_date,id,mtm_dirty,notional_amount,payment_type,receive_type,start_date,trade_date,type,value_date,maturity,sup_delta
0,ir,USD,2017-01-17T00:00:00Z,2019-01-17T00:00:00Z,swap_1,-1500,10000,fixed,floating,2017-01-10T00:00:00Z,2017-01-10T00:00:00Z,vanilla_swap,2017-01-16T00:00:00Z,10.0,1
1,ir,GBP,2017-01-17T00:00:00Z,2019-01-17T00:00:00Z,swap_2,1400,10500,floating,floating,2017-01-10T00:00:00Z,2017-01-10T00:00:00Z,vanilla_swap,2017-01-16T00:00:00Z,2.0,1

In [126]:
x = pd.Series()

In [128]:
arr = x.values

In [129]:
arr[arr == ''] = 0

/home/joel/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if __name__ == '__main__':

In [130]:
arr

array([], dtype=float64)